<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<body>
<div>
<ul>
    {%for posts in my_posts %}
<li>
    {{ posts ['description'] }}
</li>
<form method="POST" action="">

</form>
{%endfor%} 
</ul>  
</body>

</html>