<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<body>
<ul>
    {%for post in my_posts %}
<li>
    {{ post ['description'] }}
</li>
{%endfor%}
</ul>
<form method="post">
        <input name="new_post">
        <input type="submit" class="btn btn-primary" >
</form>
    
</body>

</html>